<div class="swiper-slide event">
  <article class="event__card">
    <div class="event__image-wrap">
      <picture>
        <source srcset="assets/images/events/event-{{id}}-desktop.webp" />
        <img
          class="event__image"
          src="assets/images/events/event-{{id}}-desktop.jpg"
          alt="{{title}}"
        />
      </picture>
    </div>

    <div class="event__text">
      <div class="event__place-wrap">
        <span class="event__place">
          {{place}}
        </span>
        <span class="event__date">
          {{date}}
        </span>
      </div>

      <h3 class="event__title">
        {{title}}
      </h3>
      <p class="event__excerpt">
        {{excerpt}}
      </p>
    </div>

    <div class="event__showmore-wrap">
      <a href="javascript:void(0)" class="event__showmore">
        Подробнее
      </a>
    </div>
  </article>
</div>