<div class="swiper-slide partner">
    <div class="partner__wrap">
        <picture>
            <source srcset="assets/images/partners/partner-{{ id }}-mobile.webp" media="(max-width: 767px)">
            <source srcset="assets/images/partners/partner-{{ id }}-tablet.webp" media="(max-width: 1023px)">
            <source srcset="assets/images/partners/partner-{{ id }}-laptop.webp" media="(max-width: 1279px)">
            <source srcset="assets/images/partners/partner-{{ id }}.webp" media="(min-width: 1280px)">
            <img class="partner__logo" src="assets/images/partners/partner-{{id}}.jpg" alt="">
        </picture>
    </div>
</div>